@charset "utf-8";
*	    { margin:0; padding:0; }
body    { color:#000; font:12px Dotum }

a			{ font:12px; text-decoration:none; }
a:link		{ color:#888888; }
a:visited 	{ color:#888888; }
a:hover		{ color:#4791a5; }
a:active	{ color:#86cd00; }

/* -----------------TopMenuBg------------ */
.TopMenuBg	{
	background-image:url('/images/menu_bg.jpg');
	background-repeat:no-repeat;
}
.TopMenuBg           { font-size:12px; font-family:Dotum; }
.TopMenuBg a:link    { color:#888888; }
.TopMenuBg a:visited { color:#888888; }
.TopMenuBg a:hover   { color:#4791a5; font-weight:bold; }
.TopMenuBg a:active  { color:#86cd00; font-weight:bold; }

.LeftMenuTitle {
	font-size:14px;
	color:#fff;
	text-align:center;
	font-family:Dotum;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:3px;
}

.LeftMenuWelcome {
	font-size:12px;
	color:#e6e6e6;
	text-align:center;
	font-family:Dotum;
	padding-top:6px;
}

/* -----------------LeftMenuBg------------ */
.LeftMenuBg {
	background-image:url("/images/left_menu_bg.gif");
	color:#8594a8;
	font-family:Dotum;
	font-size:12px;
	font-weight:bold;
	padding-left:23px;
	padding-top:3px;
	text-align:left;
}
.LeftMenuBg a         { font-size:12px; font-family:Dotum; }
.LeftMenuBg a:link    { color:#8594a8; }
.LeftMenuBg a:visited { color:#8594a8; }
.LeftMenuBg a:hover   { color:#445b7b; font-weight:bold; }
.LeftMenuBg a:active  { color:#445b7b; font-weight:bold; }

.LeftMenuBtn {
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

/* -----------------LeftMenuBgList------------ */
.LeftMenuBgList {
	background-image:url(/images/left_bg.gif);
	color:#FFFFFF;
	font-family:"돋움";
	font-size:12px;
	padding:2px 0 2px 25px;
	text-align:left;
}
.LeftMenuBgList a	      { font-size:12px; font-family:Dotum; }
.LeftMenuBgList a:link    { color:#fff; }
.LeftMenuBgList a:visited { color:#fff; }
.LeftMenuBgList a:hover   { color:#fff; font-weight:bold; }
.LeftMenuBgList a:active  { color:#fff; font-weight:bold; }

/* -----------------QuickLink------------ */
.QuickLink	{
	font-size: 11px;
	color: #7794be;
	text-align:right;
	font-family:"돋움";
	padding-top:3px;
}
.QuickLink a	     { font-size:11px; font-family:Dotum; }
.QuickLink a:link    { color:#7794be; }
.QuickLink a:visited { color:#5877a4; }
.QuickLink a:hover   { color:#5877a4; font-weight:bold; }
.QuickLink a:active  { color:#5877a4; font-weight:bold; }

